.env
.env.*
!.env.example

bin/
dist/
tmp/

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.auto.tfvars

coverage.out
*.test
*.exe

.kube/
*.kubeconfig
deployments/helm/**/charts/
deployments/helm/**/Chart.lock

.DS_Store
Thumbs.db
